{% extends 'layouts/base.html' %}

{% load mathfilters %}
{% block title %} Inventory {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
  
    <!-- <div class="container-fluid mt--7">

      <div class="row">
        
        <div class="col">
          
          <div class="card shadow" style="overflow: scroll;">
            <div class="card-header bg-transparent">
              <div class="row">
                <div class="col-auto">
                  <h3 class="mb-0">Inventory - {{SaleUser.SalesUser_Inventory.Inventory_ID}}</h3>
                </div>

                <div id="test">

                </div>

                <div class="col text-right">
                  <a data-toggle="modal" data-target="#deleteitems" style="cursor: pointer;"><button type="button" class="btn btn-danger">Delete All Items</button></a>




                  <div class="modal fade" id="deleteitems" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                      <div class="modal-content" style="overflow: scroll;">
                        <div class="modal-body p-0">
                          <div class="card bg-white shadow border-0 mb-0">
                            <div class="card-header bg-white">
                              <div class="text-muted text-center">
                                <small><b>Please confirm if you want to delete all the items in you inventory!</b></small>
                              </div>
                            </div>
  
                            <div class="card-body px-lg-10" >
                              <div class="text-center text-muted mb-4">
                                <small><b>NOTE: </b>Items deleted will not be recovered! If you think you have clicked this button by mistake please click cancel.</small>
                              </div>

                              <div class="text-center">
                                
                                <a href="/DeleteItems"><button type="submit" class="btn btn-danger my-4">Delete Items</button></a>
                                <button type="button" class="btn btn-secondary my-4" data-dismiss="modal">Cancel</button>
                              </div>
                             
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>



              </div>
             
            </div>
           
            <div class="card-body">
              {% if Inventory_products %}
            
              <table class="table" id="myTable" style="table-layout: fixed; border-spacing: 0px;">
                <thead>
                    <tr>
                        <th class="text-center col-1 border">#</th>
                        <th class="text-left border col-7">Name</th>
                        <th class="text-center col-1 border">ID</th>
                        <th class="text-center col-1 border">MRP</th>
                        <th class="text-center col-1 border">Stock</th>
                        
                        <th class="text-center col-1">Image</th>
                    </tr>
                </thead>
              
                <tbody>
                  {% if Inventory_products != 0%}
              {% for p in Inventory_products %}
              
                    <tr>
                      
                        <td class="text-center">{{forloop.counter}}</td>
                        
                        <td class="text-left" style="overflow-wrap: normal; overflow:auto;"><a data-toggle="modal" data-target="#p{{p.Product_ID}}" style="cursor: pointer;">{{p.Product_name|truncatechars:90}}</a></td>
                     
                        <td class="text-center"><a data-toggle="modal" data-target="#p{{p.Product_ID}}" style="cursor: pointer;">{{p.Product_ID}}</a></td>
                        <td class="text-center"><a data-toggle="modal" data-target="#p{{p.Product_ID}}" style="cursor: pointer;">{{p.Product_mrp}}</a></td>
                        <td class="text-center"><a data-toggle="modal" data-target="#p{{p.Product_ID}}" style="cursor: pointer;">{{p.Product_stock}}</a></td>
                        
                        <td class="td-actions text-center">
                         <a data-toggle="modal" data-target="#p{{p.Product_ID}}" style="cursor: pointer;">
                           <img src="{{p.Product_image.url}}" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 50px;">
                         </a> 
                         </td>
                      
                       
                    </tr>
                    
                 
                    {% endfor %}
                    {% else %}
                    {% endif %}
                </tbody>
                
            </table>



            {% if Inventory_products != 0%}
            {% for p in Inventory_products %}

            <div class="modal fade" id="p{{p.Product_ID}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content" style="overflow: scroll;">
                  <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLabel">{{p.Product_name}}</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                
                  <div class="modal-body">
                    <hr class="mt-0">
                    <div class="row">
                      <div class="col">
                        <img src="{{p.Product_image.url}}" alt="Raised image" class="img-fluid rounded shadow-lg" style="width: 250px;">
                      </div>
                      <div class="col">
                        <h3>ID: {{p.Product_ID}}</h3>
                    <h5><b>Description: </b>{{p.Product_description}}</h5>
                    <hr class="mt-2 mb-2">
                    <h5><b>MRP: {{p.Product_mrp}}/-</b></h5>
                    <h5><b>{% if p.Product_sprice != 0 %}
                      {{p.Product_sprice_tag}} price : {{p.Product_sprice}}/-
                      
                      {% else %}
                      {% endif %}</b></h5>
                      <h5><b>GST: {{p.Product_gst_per}}%</b></h5>
                      <hr class="mt-1 mb-1">
                      <div class="row">
                      
                        {% for pt in p.producttags_set.all %}
                        <div class="col">
                          <h5><b>{{pt.Defined_Tags.Tag_Title}}: {{pt.Tag_value}}</b></h5>
                        </div>
                        {% endfor %}
                      </div>
                      </div>
                    </div>
                    
                    
                    
                  </div>
                  <div class="modal-footer">
                    <div class="row">
                      
                      <button type="button" class="btn btn-primary Danger" data-toggle="modal" data-target="#e{{p.Product_ID}}">Edit</button>
                     
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                
                   
                    
                  </div>
                </div>
              </div>
            </div>








            <div class="modal fade" id="e{{p.Product_ID}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content" style="overflow: scroll;">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Your Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form action="/editProduct/" method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="inputEmail4">Product Name:</label>
                          <input type="text" class="form-control" id="productname" name="productname" pattern="[a-zA-Z0-9-\s]+" value="{{p.Product_name}}" placeholder="Product Name .." required>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="inputPassword4">Product ID:</label>
                          <input type="text" class="form-control" id="productid" pattern="[a-zA-Z0-9-]+" style="text-transform:uppercase" value="{{p.Product_ID}}" name="productid" placeholder="Product ID .." required>
                        </div>
                      </div>

                      <div class="form-row">
                          <div class="col">
                            <label for="inputPassword4">Product Description:</label>
                            <textarea id="Description" class="form-control" name="Description" rows="2" placeholder="Add your product description.. ">{{p.Product_description}}</textarea>
                          </div>
                          <div class="col">
                            <label for="inputPassword4">Product Stock:</label>
                            <input type="number" class="form-control" name="pstock" id="pstock" value="{{p.Product_stock}}" required>
                          </div>
                      </div>
                      <br>

                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label>MRP :</label>
                          <input type="number" class="form-control" value="{{p.Product_mrp}}" id="mrp" name="mrp" placeholder="MRP" required>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="exampleFormControlFile1">Upload the Product Image:</label>
                          <input type="file" class="form-control" name="productimage" value="{{p.Product_image}}" id="productimage">
                        </div>
                      </div>


                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label >Substitute Price :</label>
                          <input type="number" class="form-control" id="substituteprice" value="{{p.Product_sprice}}" name="substituteprice" placeholder="Substitute Price">
                        </div>

                        <div class="form-group col-md-6">
                          <label>GST % (Example: 18) :</label>
                          <input type="number" class="form-control" value="{{p.Product_gst_per}}" id="gst" name="gst" max="100" placeholder="GST" required>
                        </div>
      
                      </div>
                      <hr>
                      <h4>Tags:</h4>
                      <div class="form-row">
                      {% for t in p.producttags_set.all %}
                      
                        <div class="form-group col-md-6">
                          <h5 >{{t.Defined_Tags.Tag_Title}} Value:</h5>
                          <input type="number" class="form-control" id="tag{{t.Defined_Tags.Tag_Title}}" value="{{t.Tag_value}}" name="tag{{t.Defined_Tags.Tag_Title}}" placeholder="Tag Value" step="0.01">
                        </div>
                      
                      {% endfor %}
                    </div>
                      
                      
    

                      <div class="text-center">
                        <button type="submit" class="btn btn-primary my-4">Save Changes</button>
                        
                        
                        <button type="button" class="btn btn-secondary my-4" data-dismiss="modal">Close</button>
                      </div>
                    </form>

                    <div class="text-center">
                    <form action="/deleteProduct/" method="post">
                      {% csrf_token %}
                      <input type="text" name="itemid" id="itemid" value="{{p.Product_ID}}" hidden>
                      <button type="submit" class="btn btn-danger my-4" >Delete</button>
                    </form>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>







            <div class="modal fade" id="e{{p.Product_ID}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content" style="overflow: scroll;">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete "{{p.Product_name}}"?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">


                    <hr class="mt-0">
                    <div class="row">
                      <div class="col">
                        <img src="{{p.Product_image.url}}" alt="Raised image" class="img-fluid rounded shadow-lg" style="width: 250px;">
                      </div>
                      <div class="col">
                        <h3>ID: {{p.Product_ID}}</h3>
                    <h5><b>Description: </b>{{p.Product_description}}</h5>
                    <hr>
                    <h5><b>MRP: {{p.Product_mrp}}/-</b></h5>
                    <h5><b>{% if p.Product_sprice != 0 %}
                      {{p.Product_sprice_tag}} price : {{p.Product_sprice}}/-
                      
                      {% else %}
                      {% endif %}</b></h5>
                      </div>
                    </div>
                   
                      <form action="/deleteProduct/" method="POST" >
                        {% csrf_token %}
                      <div class="text-center">
                        <input type="text" name="ID" value="{{p.Product_ID}}" id="ID" hidden>
                        <button type="submit" class="btn btn-secondary my-4" >Delete</button>
                        <button type="button" class="btn btn-secondary my-4" data-dismiss="modal">Close</button>
                      </div>
                    </form>
                  </div>
                  
                </div>
              </div>
            </div>

            {% endfor %}
            {% else %}
            {% endif %}
            
            {% else %}
            <h3 class="text-center" style="color: rgb(212, 212, 212); top: 50%; position: relative;">No Data Available!</h3>
            <h5 class="text-center" style="color: rgb(212, 212, 212); top: 50%; position: relative;">Go to "Add New Item" and list you first item now!</h5>
            {% endif %}

            </div>


            
          </div>
        </div>









        
       

      </div>

      <div id="test">

      </div>

<br>


      

    </div> -->


    <main class="main-content mt-1 border-radius-lg">
      <!-- Navbar -->
        <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          
          <h6 class="font-weight-bolder mb-0">Inventory</h6>
        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <div class="ms-md-auto pe-md-3 d-flex align-items-center">
            
          </div>
          <ul class="navbar-nav  justify-content-end">
            <li class="nav-item d-flex align-items-center">
              <a href="/Profile/" class="nav-link text-body font-weight-bold px-0">
                <i class="fa fa-user me-sm-1"></i>
                <span class="d-sm-inline d-none">{{request.user.username}}</span>
              </a>
            </li>
            <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                </div>
              </a>
            </li>
            <li class="nav-item px-3 d-flex align-items-center">
              <!-- <a href="javascript:;" class="nav-link text-body p-0">
                <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i>
              </a> -->
            </li>
            <li class="nav-item dropdown pe-2 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-bell cursor-pointer"></i>
                <span class="badge badge-md badge-circle badge-floating badge-danger border-white mx-0 px-0" style="color: rgb(116, 116, 116);">{{request.user.inventory.accessrequest_set.all.count}}</span>
              </a>
              <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">
                {% if request.user.inventory.accessrequest_set.all%}
                {% for r in request.user.inventory.accessrequest_set.all%}
                <li class="mb-2">
                  <a class="dropdown-item border-radius-md" >
                    <div class="d-flex py-1" data-bs-toggle="modal" data-bs-target="#v{{r.Request_ID}}">
                     
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-normal mb-1">
                          <span class="font-weight-bold">Request</span> from {{r.Request_from}}
                        </h6>
                        <p class="text-xs text-secondary mb-0">
                          <i class="fa fa-clock me-1"></i>
                          {{r.Request_date}}
                        </p>
                      </div>
                    </div>
                  </a>
                </li>



             
                {% endfor %}
                {% else %}
                <li class="mb-2">
                  <a class="dropdown-item border-radius-md">
                    No Requests Pending ...
                  </a>
                </li>
                {% endif %}
               
              </ul>
            </li>
              </ul>
        </div>
      </div>
    </nav>

    {% for r in request.user.inventory.accessrequest_set.all%}
<!-- Modal -->
<div class="modal fade" id="v{{r.Request_ID}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
 <div class="modal-dialog modal-dialog-centered" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <h5 class="modal-title" id="exampleModalLabel">Inventory Access Request</h5>
       <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body">
       <div class="d-flex flex-column justify-content-center">
         <h6 class="text-sm font-weight-normal mb-1">
           <span class="font-weight-bold">Request</span> from {{r.Request_from}}
         </h6>
         <p class="text-xs text-secondary mb-0">
           <i class="fa fa-clock me-1"></i>
           {{r.Request_date}}
         </p>
       </div>
     </div>
     <div class="modal-footer">
       
       <form action="/AccessRequest1/" method="post">
         {% csrf_token %}
         <input type="text" name="actionid" id="actionid" value="{{r.Request_ID}}" hidden>
         <input type="text" name="action" id="action" value="accept" hidden>
         <input type="text" name="page" value="Inventory_dashboard" hidden>
       <button type="submit" class="btn bg-gradient-success">Accept Request</button>
       </form>

     <form action="/AccessRequest1/" method="post">
       {% csrf_token %}
       <input type="text" name="actionid" id="actionid" value="{{r.Request_ID}}" hidden>
       <input type="text" name="action" id="action" value="delete" hidden>
       <input type="text" name="page" value="Inventory_dashboard" hidden>
     <button type="submit" class="btn bg-gradient-danger" >Delete</button>
     </form>

     <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
     </div>
   </div>
 </div>
</div>

{% endfor %}
      <!-- End Navbar -->
      <div class="container-fluid py-4">
        <div class="row">
          <div class="col-xl-6 col-sm-6 mb-xl-0 mb-4">
            <div class="card" data-bs-toggle="modal" data-bs-target="#exampleModal" style="cursor: pointer;">
              <div class="card-body p-3">
                <div class="row">
                  <div class="col-8">
                    <div class="numbers">
                      <h6>Add New Item</h6>
                      <h6 class="text-sm mb-0 text-capitalize font-weight-bold">
                        List new items to your inventory!
                      </h6>
                    </div>
                  </div>
                  <div class="col-4 text-end">
                    <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                      <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-sm-6 mb-xl-0 mb-4">
            <div class="card" data-bs-toggle="modal" data-bs-target="#exampleModal2" style="cursor: pointer;">
              <div class="card-body p-3">
                <div class="row">
                  <div class="col-8">
                    <div class="numbers">
                      <h6>Inventory Tags</h6>
                      <h5 class="text-sm mb-0 text-capitalize font-weight-bold">Create new tags for your inventory!</h5>
                    </div>
                  </div>
                  <div class="col-4 text-end">
                    <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                      <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- modals -->
       

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <div class="text-muted text-center">
                  <small><b>Add new item in your inventory!</b></small>
                  
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true" style="color: black;">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="card-body px-lg-4" >
                  <div class="text-center text-muted mb-4">
                    <small>Fill out the product details. You can have maximum of two different prices. <b>Do not forget to mention the price tags.</b></small>
                  </div>


                  <hr class="mb-2 mt-2">
                    <form action="/add_item/" method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                      <h6>Product Information: </h6>
                      <div class="row mb-0 mt-1">
                        <div class="col-6">
                          <label for="inputEmail4">Product Name:</label>
                          <input type="text" class="form-control" id="productname" name="productname" placeholder="Product Name .." required>
                        </div>
                        <div class=" col-6">
                          <label for="inputPassword4">Product ID: </label>
                          
                          <input type="text" class="form-control" id="productid" pattern="[a-zA-Z0-9-]+" style="text-transform:uppercase" name="productid" placeholder="Product ID .." autocomplete="off" required>
                          
                        </div>
                      </div>

                      <div class="row mb-0">
                        <div class="col">
                          <label for="inputPassword4">Product Description:</label>
                          <textarea id="Description" class="form-control" name="Description" rows="2" placeholder="Add your product description.. "></textarea>
                        </div>
                        <div class="col-md-6">
                          <label>GST % (Example: 18) :</label>
                          <input type="number" class="form-control" id="gst" name="gst" placeholder="GST Number" max="100" required>
                        </div>
                    </div>

                    <div class="row mb-0">
                      <div class="col-6">
                        <label>MRP :</label>
                        <input type="number" class="form-control" id="mrp" name="mrp" placeholder="MRP" required>
                      </div>
                      <div class="col-6">
                        <label for="exampleFormControlFile1">Upload the Product Image:</label>
                        <input type="file" class="form-control" name="productimage" id="productimage">
                      </div>
                    </div>


                    <div class="row mb-0">
                      <div class=" col-6">
                        <label >Substitute Price :</label>
                        <input type="number" class="form-control" id="substituteprice" name="substituteprice" placeholder="Substitute Price" value="0">
                      </div>

                      <div class="col-6">
                        <label >Stock :</label>
                        <input type="number" class="form-control" id="stock" name="stock" placeholder="stock" required>
                      </div>

                    </div>
                    <br>
                    <h6>Tags: </h6>
                    <div class="row">
                      {% for t in tags %}
                      <div class="col-3">
                        <label style="text-transform: capitalize;">{{t.Tag_Title}} : {{t.Tag_description}}</label>
                        <input type="number" class="form-control" id="tag{{t.Tag_Title}}" name="tag{{t.Tag_Title}}" placeholder="{{t.Tag_Title}} value" step="0.01" value="0">
                      </div>
                      {% endfor %}

                    </div>
                    <br>

                    <div class="modal-footer">
                      <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn bg-gradient-primary">Save changes</button>
                    </div>

                    </form>


                </div>
              </div>
              
            </div>
          </div>
        </div>


        <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <div class="text-muted text-center">
                  <small><b>Mamange your Inventory Tags!</b></small>
                  
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onClick="document.location.reload(true)">
                  <span aria-hidden="true" style="color: black;">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="card-body px-lg-4" >
                  <div class="text-center text-muted mb-4">
                    <small>Fill out the tag details. You can have as many tags you like! <b>Do not forget to mention the Tag Title.</b></small>
                    <small>Tags that you mention here will be <b>ONLY</b> used with Item Quantity!</small>
                  </div>
                  <hr>
                
                  <form action="/add_tag/" method="POST">
                    {% csrf_token %}
                    <div class="card">
                      <div class="table-responsive">
                    <table class="table align-items-center mb-0" id="tedit">
                      <thead>
                          <tr>
                              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">#</th>
                              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Tag Title</th>
                              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Tag Description</th>
                              
                              
                          </tr>
                      </thead>
                      <tbody id="tablebody">
                        
                        {% for t in tags %}
                          <tr class="ml-5">
                              <td>
                                <div class="d-flex px-3 py-1">
                                  <h6 class="mb-0 text-xs">{{forloop.counter}}</h6>
                                </div>
                              </td>
                              <td>
                                <input type="text" class='form-control Tags' name="TagName{{forloop.counter|sub:1}}" id="TagName{{forloop.counter|sub:1}}" value="{{t.Tag_Title}}" hidden>
                                <div class="d-flex px-3 py-1">
                                  <span>
                                    <h6 class="mb-0 text-xs">{{t.Tag_Title}}</h6>
                                  </span>
                                </div> 
                              </td>
                              <td>
                                <input type="text" class='form-control Tags' name="Tagd{{forloop.counter|sub:1}}" id="Tagd{{forloop.counter|sub:1}}" value="{{t.Tag_description}}" hidden>
                                <div class="d-flex px-3 py-1">
                                <span>
                                  <h6 class="mb-0 text-xs">{{t.Tag_description}}</h6>
                                </span> 
                                </div>
                              </td>
                            
                          </tr>
                          
                        {% endfor %}
                       
                 
                      </tbody>
                  </table>
                  </div>
                  </div>
                  <br>

                  <input type="number" id="numberofitems1" name="numberofitems1" value="0" hidden>

                    <div id="editbuttons" hidden>
                      <div class="row text-center">
                        
                        <div class="col-12">
                          <button type="button" onclick="myCreateFunction2()" class="btn btn-secondary" style="text-align: center;"> Add new row</button>
                          <button type="button" onclick="myDeleteFunction2()" class="btn btn-danger" style="text-align: center;"> Delete row</button>
                        </div>
                       
                       
                      </div>
                      <div class="row text-center" style="z-index: 98;">
                        <div class="col-12">
                          <button type="submit" class="btn btn-primary"style="text-align: center;" value="Submit"> Save Tags</button>
                  
                        </div>
                        
                      </div>
                    </div>







                    <div class="modal-footer">
                      <button type="button" class="btn bg-gradient-primary" onclick="editTags();">Add Tags</button>
                      
                      <button type="button" class="btn bg-gradient-secondary" data-dismiss="modal" onClick="document.location.reload(true)">Close</button>
                    </div>


                    <!-- <div class="modal-footer">
                      <button type="submit" class="btn bg-gradient-primary" onclick="editTags();">Add Tags</button>
                      <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal" onclick="document.location.reload(true)">Close</button>
                    </div> -->
                  </form>

                </div>
              </div>
              
            </div>
          </div>
        </div>






        <br>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <div class="input-group mb-4">
                <span class="input-group-text"><i class="ni ni-zoom-split-in"></i></span>
                <input class="form-control" placeholder="Search Items by ID" id="myInput" onkeyup="myFunction()" type="text">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="card mb-4">
              
              <div class="card-header pb-0">
                <div class="row">
                  <div class="col">
                    <h6>Inventory - {{SaleUser.SalesUser_Inventory.Inventory_ID}}</h6>
                    <p class="text-sm">
                      <span class="font-weight-bold">Total Item: </span> {{Inventory_products.count}}
                    </p>
                   
                  </div>
                  <div class="col text-right">
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deletemodal">Delete All Items</button>
                  </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="deletemodal" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <div class="text-muted text-center">
                          <small><b>Please confirm if you want to delete all the items in you inventory!</b></small>
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true" style="color: black;">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="text-center text-muted mb-4">
                          <small><b>NOTE: </b>Items deleted will not be recovered! If you think you have clicked this button by mistake please click cancel.</small>
                        </div>

                        <div class="modal-footer">
                          <a href="/DeleteItems"><button type="button" class="btn bg-gradient-danger">Delete Items</button></a>
                          <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
                        </div>


                      </div>
                      
                    </div>
                  </div>
                </div>

              </div>
              <div class="card-body px-0 pt-0 pb-2">
                {% if Inventory_products %}
                <div class="table-responsive p-0">
                  <table class="table align-items-center mb-0" id="myTable">
                    <thead>
                      <tr>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">#</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Name</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">MRP</th>
                        <th class="text-right text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Image</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% if Inventory_products != 0%}
              {% for p in Inventory_products %}
                      <tr data-bs-toggle="modal" data-bs-target="#p{{p.Product_ID}}" style="cursor: pointer;">
                        <td>
                          <div class="d-flex px-3 py-1">
                            
                            <div class="d-flex flex-column justify-content-center">
                              
                              <p class="text-xs text-secondary mb-0">{{forloop.counter}}</p>
                            </div>
                          </div>
                        </td>
                        <td>
                          <p class="text-xs font-weight-bold mb-0">{{p.Product_name}}</p>
                          <p class="text-xs text-secondary mb-0">Stock: {{p.Product_stock}}</p>
                        </td>
                        <td class="align-middle text-center text-sm">
                          <p class="text-xs font-weight-bold mb-0">{{p.Product_ID}}</p>
                        </td>
                        <td class="align-middle text-center">
                          <span class="text-secondary text-xs font-weight-bold">{{p.Product_mrp}}</span>
                        </td>
                        <td class="text-right">
                          <div>
                            <img src="{{p.Product_image.url}}" class="avatar avatar-sm me-3">
                          </div>
                        </td>
                      </tr>


                      {% endfor %}
                    {% else %}
                    {% endif %}
                     
                    </tbody>
                  </table>
                </div>





            {% if Inventory_products != 0%}
            {% for p in Inventory_products %}

            <!-- Modal -->
            <div class="modal fade" id="p{{p.Product_ID}}" tabindex="-1" role="dialog" aria-labelledby="p{{p.Product_ID}}" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-md" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{p.Product_name}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true" style="color: black;">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col">
                        <img src="{{p.Product_image.url}}" alt="Raised image" class="img-fluid rounded shadow-lg" style="width: 250px;">
                      </div>
                      <div class="col">
                        <h6>ID: {{p.Product_ID}}</h6>
                        <p class="text-xs font-weight-bold mb-0"><b>Description: </b>{{p.Product_description}}</p>
                   
                    <hr class="mt-2 mb-2">
                    <p class="text-sm font-weight-bold mb-0" style="color: black;"><b>MRP: {{p.Product_mrp}}/-</b></p>
                    <p class="text-sm font-weight-bold mb-0">
                    <h6>{% if p.Product_sprice != 0 %}
                      {{p.Product_sprice_tag}} price : {{p.Product_sprice}}/-
                      
                      {% else %}
                      {% endif %}</b></p>
                      <p class="text-sm font-weight-bold mb-0"><b>GST: {{p.Product_gst_per}}%</b></p>
                      <hr class="mt-1 mb-1">
                      <div class="row">
                      
                        {% for pt in p.producttags_set.all %}
                        <div class="col">
                          <p class="text-sm font-weight-bold mb-0"><b>{{pt.Defined_Tags.Tag_Title}}: {{pt.Tag_value}}</b></p>
                        </div>
                        {% endfor %}
                      </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" data-bs-toggle="modal" data-bs-target="#e{{p.Product_ID}}" class="btn bg-gradient-primary">Edit</button>
                    <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
                    
                  </div>
                 
                </div>
              </div>
            </div>

            <!-- end -->
            <div class="modal fade" id="e{{p.Product_ID}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content" style="overflow: scroll;">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Your Product</h5>
                    <form action="/deleteProduct/" method="post">
                      {% csrf_token %}
                      <input type="text" name="itemid" id="itemid" value="{{p.Product_ID}}" hidden>
                      <button type="submit" class="btn btn-danger my-2 text-right" >Delete</button>
                    </form>
                  </div>
                  <div class="modal-body">
                    <p class="text-sm font-weight-bold mb-0">Product Information:</P>
                    <form action="/editProduct/" method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="row">
                        <div class=" col-md-6">
                          <label for="inputEmail4">Product Name:</label>
                          <input type="text" class="form-control" id="productname" name="productname" value="{{p.Product_name}}" placeholder="Product Name .." required>
                        </div>
                        <div class="col-md-6">
                          <label for="inputPassword4">Product ID:</label>
                          <input type="text" class="form-control" id="productid" pattern="[a-zA-Z0-9-]+" style="text-transform:uppercase" value="{{p.Product_ID}}" name="productid" placeholder="Product ID .." required>
                        </div>
                      </div>

                      <div class="row">
                          <div class="col-6">
                            <label for="inputPassword4">Product Description:</label>
                            <textarea id="Description" class="form-control" name="Description" rows="2" placeholder="Add your product description.. ">{{p.Product_description}}</textarea>
                          </div>
                          <div class="col-6">
                            <label for="inputPassword4">Product Stock:</label>
                            <input type="number" class="form-control" name="pstock" id="pstock" value="{{p.Product_stock}}" required>
                          </div>
                      </div>
                      <br>

                      <div class="row">
                        <div class=" col-md-6">
                          <label>MRP :</label>
                          <input type="number" class="form-control" value="{{p.Product_mrp}}" id="mrp" name="mrp" placeholder="MRP" required>
                        </div>
                        <div class="col-md-6">
                          <label for="exampleFormControlFile1">Upload the Product Image:</label>
                          <input type="file" class="form-control" name="productimage" value="{{p.Product_image}}" id="productimage">
                        </div>
                      </div>


                      <div class="row">
                        <div class="col-md-6">
                          <label >Substitute Price :</label>
                          <input type="number" class="form-control" id="substituteprice" value="{{p.Product_sprice}}" name="substituteprice" placeholder="Substitute Price">
                        </div>

                        <div class=" col-md-6">
                          <label>GST % (Example: 18) :</label>
                          <input type="number" class="form-control" value="{{p.Product_gst_per}}" id="gst" name="gst" max="100" placeholder="GST" required>
                        </div>
      
                      </div>
                      <hr>
                      <p class="text-sm font-weight-bold mb-0">Tags:</P>
                      <div class="row">
                      {% for t in p.producttags_set.all %}
                      
                        <div class="col-md-3">
                          <label>{{t.Defined_Tags.Tag_Title}} Value:</label>
                          <input type="number" class="form-control" id="tag{{t.Defined_Tags.Tag_Title}}" value="{{t.Tag_value}}" name="tag{{t.Defined_Tags.Tag_Title}}" placeholder="Tag Value" step="0.01">
                        </div>
                      
                      {% endfor %}
                    </div>
                    <br>
                      
                      
    

                      <div class="modal-footer">
                        <button type="submit" class="btn btn-primary my-4">Save Changes</button>              
                        <button type="button" class="btn btn-secondary my-4" data-bs-dismiss="modal">Close</button>
                      </div>
                    </form>

                 
                  </div>
                  
                </div>
              </div>
            </div>

              
            <!-- End -->
            {% endfor %}
            {% else %}
            {% endif %}










                {% else %}
                <h3 class="text-center" style="color: rgb(212, 212, 212); top: 50%; position: relative;">No Data Available!</h3>
                <h5 class="text-center mb-5" style="color: rgb(212, 212, 212); top: 50%; position: relative;">Either you don't have access to this inventory or you need to add new items.</h5>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
       
       
      </div>

      {% include "includes/footer.html" %}
    </main>





{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script>
function myCreateFunction2() {
      var count = parseInt(document.getElementById('numberofitems1').value) + 1;
      document.getElementById('numberofitems1').setAttribute('value',parseInt(count));

      var table = document.getElementById("tablebody");
      var row = table.insertRow(-1);
      var cell1 = row.insertCell(0);
      var cell2 = row.insertCell(1);
      var cell3 = row.insertCell(2);
      
      
      var TagName = "TagName"+count
      var Tagd = "Tagd"+count
      

      
      cell1.innerHTML = "<td class='text-center border'>"+count+"</td>";
      cell2.innerHTML = "<td class='border'><input type='text' class='form-control border' id='"+TagName+"' name='"+TagName+"' placeholder='Tag Name' style='text-transform: uppercase;' autocomplete='off'></td>";
      
      cell3.innerHTML = "<input type='text' class='form-control border' id='"+Tagd+"' name='"+Tagd+"' value='' placeholder='Quantity' autocomplete='off'>";
     
      // document.getElementById('Slide14549accStr2').addEventListener('keydown', tabnadd(event) {
      //   if (event.keyCode == 9) {
      //     event.preventDefault();
      //     var elem = document.getElementById('Titleinformation_tb');
      //     elem.focus();
      //   }
      // });


      
   
    }


    function myDeleteFunction2() {
      
      if(document.getElementById('tablebody').getElementsByTagName('tr').length >1){
        document.getElementById("tedit").deleteRow(-1);
        var count = document.getElementById('tablebody').getElementsByTagName('tr').length;
      document.getElementById('numberofitems1').setAttribute('value',parseInt(count));
      }
      
    }



  function editTags(){
    
   
   var x = document.getElementById('tablebody').getElementsByTagName('span');
   var y = document.getElementsByClassName('Tags')
   
   document.getElementById('editbuttons').hidden = false;
  

   document.getElementById('numberofitems1').setAttribute('value',parseInt(document.getElementById('tablebody').getElementsByTagName('tr').length));

   for (var i =0;i<=x.length;i++){
     x[i].hidden = true;
     if(i< y.length){
       y[i].hidden = false;
     }
     
   }
   

 }



 $('.modal').on('hidden.bs.modal', function () {
    // do something here
    
    var x = document.getElementById('tedit').getElementsByTagName('span');
    var y = document.getElementsByClassName('Tags');
    var rows = document.getElementById('tablebody').getElementsByTagName('tr');
    
    document.getElementById('editbuttons').hidden = true;
    
    

    for (var i =0;i<=x.length;i++){
      x[i].hidden = false;
      if(i< y.length){
        y[i].hidden = true;
      }
      
    }


    


    
});

</script>


<script>
  function myFunction() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {

       

      td2 = tr[i].getElementsByTagName("td")[2];
      if (td2) {
        txtValue = td2.textContent || td2.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }  



      
      

    }
  }


  </script>
{% endblock javascripts %}





<!-- <form action="/add_item/" method="POST">
  {% csrf_token %} -->